# ===== CLIENT =====
node_modules/
dist

# генерируются pluginTypedCSSModules
*.module.css.d.ts


# ===== API MOCK SERVER =====
server/node_modules

# ===== DOCS =====
docs/node_modules
docs_build

# ===== TESTING =====
