# ===== CLIENT =====
node_modules/
dist/
.env
.env.local

# генерируются pluginTypedCSSModules
*.module.css.d.ts


# ===== API MOCK =====
server/node_modules

# ===== DOCS =====
docs/node_modules
docs_build

# ===== TESTING =====
